<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="footer-about">
                    <a href="/"><img class="footer-logo" src="~/assets/images/logo.png" alt="GMS"></a>
                    <p>Welcome to GMS, an innovative platform for #entrepreneurs to get access to invaluable #mentoring from global professional experts. Started by a group of highly motivated successful entrepreneurs having experience of setting up businesses and working with global brands.The idea is to offer a fully managed ecosystem for entrepreneurs & mentors to share knowledge & build tomorrow's products and services.</p>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 footer-nav">
                <h4 class="f-title">Quick Links</h4>
                <nav>
                    <ul>
                        <li class=""><a href="/webinars" target="">Webinars</a></li>
                        <li class=""><a href="/terms-of-service" target="">Terms of Service</a></li>
                        <li class=""><a href="/videos" target="">Startups Library</a></li>
                        <li class=""><a href="/privacy-policy" target="">Privacy Policy</a></li>
                        <li class=""><a href="/events" target="">Events</a></li>
                        <li class=""><a href="/contact-us" target="">Contact Us</a></li>
                        <li class=""><a href="/blog" target="">Blog</a></li>
                    </ul>
                </nav>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="footer-contact">
                    <h4 class="f-title">Keep In Touch</h4>
                    <p><i class="icon icon-map"></i>Crossing Republik, Ghaziabad, UP</p>
                    <p><i class="icon icon-ph"></i>+91-8423282590</p>
                    <p><i class="icon icon-ml"></i><a href="mailto:vivek.svit2009@gmail.com">vivek.svit2009@gmail.com</a></p>

                </div>
                <div class="social">
                    <h4 class="f-title">Connect With Us</h4>
                    <ul>
                        <li><a href="/" target="_blank" title="Facebook"><i class="fa fa-facebook"></i></a></li>


                        <li><a href="/" target="_blank" title="Instagram"><i class="fa fa-instagram"></i></a></li>


                        <li><a href="/" target="_blank" title="Twitter"><i class="fa fa-twitter"></i></a></li>


                        <li><a href="/" target="_blank" title="Youtube"><i class="fa fa-youtube-play"></i></a></li>


                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <div class="copyright">&copy; Copyright 2019 GMS. All Rights Reserved. Powered by VIVEK KUMAR SHARMA</div>
        </div>
    </div>
</footer>
<div class="loading_more loader" style="display:none;"></div>

<div id="fb-root"></div>
