<div class="data-cell dashboard-right">
    <div class="panel-sidebar">
        <h3 class="panel-sidebar-title">Recommendations</h3>

        <div class="carousel-sidebar">

            <div class="sidebar-media sidebar-user clearfix">
                <a href="https://www.mentorally.com/startup-profile/sohamdesai" class="sidebar-media-thumb" style="background-image:url('https://www.mentorally.com/assets/uploads/frontuser/262c6be856468a1dd584b4fa5405ed40.jpg')"></a>
                <div class="sidebar-media-body">
                    <h4><a href="https://www.mentorally.com/startup-profile/sohamdesai">Soham Desai</a></h4>
                    <p>Internet , E Commerce</p>
                    <div class="cta-btn">
                        <a href="https://www.mentorally.com/startup-profile/sohamdesai" class="btn btn-default btn-sm">View Details</a>
                    </div>
                </div>
            </div>

            <div class="sidebar-media sidebar-user clearfix">
                <a href="https://www.mentorally.com/startup-profile/afshaanrayees" class="sidebar-media-thumb" style="background-image:url('https://www.mentorally.com/assets/uploads/frontuser/eb72482d83fc09fdda7f43e95b434d61.jpg')"></a>
                <div class="sidebar-media-body">
                    <h4><a href="https://www.mentorally.com/startup-profile/afshaanrayees">Afshaan Rayees</a></h4>
                    <p>Information Technology (IT)</p>
                    <div class="cta-btn">
                        <a href="https://www.mentorally.com/startup-profile/afshaanrayees" class="btn btn-default btn-sm">View Details</a>
                    </div>
                </div>
            </div>

            <div class="sidebar-media sidebar-user clearfix">
                <a href="https://www.mentorally.com/startup-profile/pranavgupta" class="sidebar-media-thumb" style="background-image:url('https://www.mentorally.com/assets/uploads/frontuser/27a93aed974420bf5e8e11c50c7faf2c.jpg')"></a>
                <div class="sidebar-media-body">
                    <h4><a href="https://www.mentorally.com/startup-profile/pranavgupta">Pranav Gupta</a></h4>
                    <p>Media and Entertainment</p>
                    <div class="cta-btn">
                        <a href="https://www.mentorally.com/startup-profile/pranavgupta" class="btn btn-default btn-sm">View Details</a>
                    </div>
                </div>
            </div>

            <div class="sidebar-media sidebar-user clearfix">
                <a href="https://www.mentorally.com/startup-profile/vivek-552" class="sidebar-media-thumb" style="background-image:url('https://www.mentorally.com/assets/uploads/frontuser/4b0b8a92333ad7e96a657a92f9a38c05.jpg')"></a>
                <div class="sidebar-media-body">
                    <h4><a href="https://www.mentorally.com/startup-profile/vivek-552">VIVEK</a></h4>
                    <p>Information Technology (IT)</p>
                    <div class="cta-btn">
                        <a href="https://www.mentorally.com/startup-profile/vivek-552" class="btn btn-default btn-sm">View Details</a>
                    </div>
                </div>
            </div>

            <div class="sidebar-media sidebar-user clearfix">
                <a href="https://www.mentorally.com/startup-profile/nitinrawat" class="sidebar-media-thumb" style="background-image:url('https://www.mentorally.com/assets/uploads/frontuser/4611f2947b8be84e3960356f7efea90d.png')"></a>
                <div class="sidebar-media-body">
                    <h4><a href="https://www.mentorally.com/startup-profile/nitinrawat">Nitin Rawat</a></h4>
                    <p>Automobiles</p>
                    <div class="cta-btn">
                        <a href="https://www.mentorally.com/startup-profile/nitinrawat" class="btn btn-default btn-sm">View Details</a>
                    </div>
                </div>
            </div>

        </div>


        <div class="text-center load-more mt30">
            <a href="https://www.mentorally.com/meet-our-startups" class="btn btn-sm btn-primary">View All Startups</a>
        </div>
    </div>

    <div class="panel-sidebar sidebar-events">
        <h3 class="panel-sidebar-title">Upcoming Events</h3>

        <div class="carousel-sidebar">


            <div class="sidebar-media clearfix">
                <a href="https://www.mentorally.com/events/details/demo-day-2019" class="sidebar-media-thumb" style="background-image:url('https://www.mentorally.com/assets/uploads/event/d43055bc24d2dad68b435a2da736a787.jpg')"></a>
                <div class="sidebar-media-body">
                    <h4><a href="https://www.mentorally.com/events/details/demo-day-2019">DEMO DAY 2019</a></h4>
                    <p class="v-date">
                        23 November, 2019
                    </p>
                    <p class="v-time">10:00 am</p>
                    <p class="v-add">St Johns Auditorium</p>

                    <div class="clearfix cta-btn">
                        <a class="btn btn-sm btn-default pull-left" href="https://www.mentorally.com/events/details/demo-day-2019">View Details</a></span>
                        <span class="time-left pull-right">
                            2 Days Left
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center load-more mt30">
            <a href="https://www.mentorally.com/events" class="btn btn-sm btn-primary">View All Events</a>
        </div>

    </div>
    <div class="panel-sidebar-video">
        <h3 class="panel-sidebar-title">Videos</h3>
        <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/bNpx7gpSqbY" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
    <div class="panel-adv">
        <a href="javascript:void();"><img src="https://www.mentorally.com/assets/frontend/images/adv.jpg" alt="Ads"></a>
    </div>

</div>
<!--[/sidebar]-->