<div id="fb-root"></div>
<header id="header">
    <div class="container-fluid clearfix relative">
        <a href="/" class="navbar-brand"><img src="~/assets/images/logo.png" alt="GMS"></a>
        <div class="toggle-btn"><span></span></div>
        <div class="bg-overlay">&nbsp;</div>
        <nav id="navbar">
            <ul class="navbar-nav nav">
                <li><a href="/webinars">Webinars</a></li>
                <li><a href="/events">Events</a></li>
                <li><a href="/blog">Blogs</a></li>
                <li><a href="/videos">STARTUP LIBRARY</a></li>
                <li><a href="/meet-our-mentors">Mentor</a></li>



                <li><a href="/about-us">About Us</a></li>
                <li><a class="active" href="/user/login">Sign In</a></li>
            </ul>
           
                </nav>
            


    </div>
</header>
<style>
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f1f1f1;
        min-width: 100px;
        list-style: none;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
        padding: 0;
        opacity: 0.5;
    }

        /* Links inside the dropdown */
        .dropdown-content a {
            text-transform: uppercase;
            color: #000;
            padding: 8px 20px;
            font-size: 15px;
            border-radius: 4px;
            display: block;
        }

            /* Change color of dropdown links on hover */
            .dropdown-content a:hover {
                text-transform: uppercase;
                color: #000;
                padding: 8px 20px;
                font-size: 15px;
                border-radius: 4px;
                display: block;
            }

    /* Show the dropdown menu on hover */
    .sdfsdfasdf:hover .dropdown-content {
        display: block;
    }

    /* Change the background color of the dropdown button when the dropdown content is shown */
    .sdfsdfasdf:hover .dropbtn {
        background-color: #3e8e41;
    }
</style>
